@font-face {
    font-family: Marguaritas-Regular;
    src: url("../fonts/Marguaritas.ttf");
}

@font-face {
    font-family: Nunito-ExtraBold;
    src: url("../fonts/Nunito-ExtraBold.ttf");
}

@font-face {
    font-family: Nunito-SemiBold;
    src: url("../fonts/Nunito-SemiBold.ttf");
}

@font-face {
    font-family: Nunito-Bold;
    src: url("../fonts/Nunito-Bold.ttf");
}

@font-face {
    font-family: Nunito-Regular;
    src: url("../fonts/Nunito-Regular.ttf");
}

html {
    scroll-behavior:smooth;
}

#header {
    background-image: url("../images/header-bg.png");
    font-family: "Nunito-SemiBold", serif;
    height: 114px;
}

#header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

#header #header-menu {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

#header #header-menu a {
    scroll-behavior: smooth;
}

#header #header-menu.open {
    display: flex !important;
}

#header-menu .menu-item {
    text-decoration: none;
    font-size: 13px;
    color: rgb(44, 5, 38);
    border-bottom: 1px solid transparent;
    font-family: "Nunito-SemiBold", serif;
}

#header-menu .menu-item.active {
    font-family: "Nunito-ExtraBold", serif;
    border-bottom: 1px solid #721163;
    color: #721163;
}

#header-menu .menu-item:hover {
    border-bottom: 1px solid #721163;
    color: #721163;
}
#closeX {
    display: none;
    position: absolute;
    top: 30px;
    right: 30px;
}

#header .logo-container {
    margin-right: 255px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 145px;
    text-decoration: none;
}

.logo-container:hover {
    text-decoration: none;
}

.logo {
    font-size: 55px;
    font-family: "Marguaritas-Regular", serif;
    color: rgb(67, 6, 57);
    line-height: 0.7em;
    margin-bottom: 10px;
}

.logo-container .logo-text {
    font-size: 10px;
    color: rgb(67, 6, 57);
    text-transform: uppercase;
}

.number {
    font-size: 14px;
    color: rgb(44, 5, 38);
}


#main {
    background-image: url("../images/main-bg.png");
    background-position: top;
    height: 860px;
}
#burger {
    display: none;
    order: 2;
}

#location {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 150px;
}

#location-container {
    max-width: 485px;
}

#location #location-title {
    font-size: 36px;
    color: rgb(67, 6, 57);
    font-family: "Nunito-Bold", serif;
    /*line-height: 0.95;*/
}

#location .logo {
    display: inline-block;
    font-size: 70px;
}

#location #location-text {
    font-size: 20px;
    font-family: "Nunito-Regular", serif;
    color: rgb(44, 5, 38);
    line-height: 1.25;
    margin: 40px 0;
}

.btn {
    background-color: rgb(114, 17, 99);
    font-size: 16px;
    font-family: "Nunito-SemiBold", serif;
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    border-radius: 30px;
}

.btn:hover {
    color: white;
    cursor: pointer;
}

#select-program .btn {
    width: 260px;
    padding: 17px 0;
    line-height: 1em;
}

#advantages-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 160px;
    position: relative;
}

#advantages-container .block-title {
    margin-bottom: 95px;
}

.block-title {
    font-size: 30px;
    font-family: "Nunito-Bold", serif;
    color: rgb(67, 6, 57);
}


#advantages .advantage {
    margin-bottom: 80px;
    margin-left: 26px;
    display: inline-block;
    vertical-align: middle;
}

#advantages .advantage:nth-child(1) {
    max-width: 425px;
    margin-right: 164px;
}

#advantages .advantage:nth-child(2) {
    max-width: 425px;
}

#advantages .advantage:nth-child(3) {
    max-width: 414px;
    margin-left: 122px;
    margin-right: 190px;
}

#advantages .advantage:nth-child(1) .advantage-text {
    max-width: 280px;
    margin-left: 60px;
}

#advantages .advantage:nth-child(2) .advantage-text {
    max-width: 284px;
    margin-left: 65px;
}

#advantages .advantage:nth-child(3) .advantage-text {
    max-width: 284px;
    margin-left: 60px;
}

#advantages .advantage:nth-child(4) .advantage-text {
    max-width: 211px;
    margin-left: 48px;
}

#advantages .advantage .advantage-image {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

#advantages .advantage .advantage-text {
    display: inline-block;
    font-size: 14px;
    font-family: "Nunito-Regular", serif;
    color: rgb(44, 5, 38);
    line-height: 1.2;
    vertical-align: middle;
}

#advantages .advantage .advantage-image .advantage-bg {
    position: absolute;
    z-index: -1;
    left: -26px;
    top: -14px;
}

#advantages .advantage:nth-child(2) .advantage-bg {
    top: -13px;
    left: -39px;
}

#advantages .advantage:nth-child(3) .advantage-bg {
    top: -18px;
    left: -26px;
}

#advantages .advantage:nth-child(4) .advantage-bg {
    top: -20px;
    left: -16px;
}

#advantages-wrapper {
    position: relative;
    overflow: hidden;
}

#advantages-wrapper #petal1 {
    position: absolute;
    left: 89px;
    top: 15px;
}

#advantages-wrapper #petal2 {
    position: absolute;
    left: 30px;
    top: 240px;
}

#advantages-wrapper #petal3 {
    position: absolute;
    right: 37px;
    top: 125px;
}

#advantages-wrapper #petal4 {
    position: absolute;
    right: -14px;
    top: 380px;
}

#rituals-wrapper {
    overflow: hidden;
    position: relative;
}

#rituals-wrapper #petal7 {
    position: absolute;
    left: 233px;
    bottom: 75px;
    z-index: 5;
}

#rituals {
    padding-top: 120px;
    padding-bottom: 115px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

#rituals #petal5 {
    position: absolute;
    right: -84px;
    top: 80px;
}
#rituals #petal6 {
    position: absolute;
    left: -445px;
    top: 0;
}

#rituals #rituals-cards .rituals-card:last-child {
    position: relative;
}

#rituals #lavender {
    position: absolute;
    right: -252px;
    bottom: -114px;
    pointer-events: none;
}

#rituals #rituals-text {
    margin: 30px 0 45px 0;
    max-width: 550px;
}

.block-text {
    font-size: 16px;
    font-family: "Nunito-Regular", serif;
    color: rgb(44, 5, 38);
    line-height: 1.313;
}

#rituals #rituals-cards {
    display: flex;
    justify-content: space-between;
}

#rituals .rituals-card {
    border-radius: 8px;
    background-color: rgb(250, 247, 250);
    box-shadow: 0 2px 16.56px 1.44px rgba(44, 5, 38, 0.1);
    width: 282px;
}

#rituals .rituals-block {
    padding: 28px 17px 30px 20px;
    box-sizing: border-box;
}

#rituals .rituals-title {
    font-size: 16px;
    font-family: "Nunito-Bold", serif;
    color: rgb(44, 5, 38);
    margin-bottom: 7px;
}

#rituals .rituals-text {
    font-size: 14px;
    font-family: "Nunito-Regular", serif;
    color: rgb(44, 5, 38);
    line-height: 1.357;
    text-align: left;
    height: 92px;
}

#rituals .rituals-time {
    font-size: 12px;
    font-family: "Nunito-SemiBold", serif;
    color: rgb(114, 17, 99);
    margin: 20px 0;
}

#rituals .rituals-sign {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rituals-button .btn {
    width: 130px;
    padding: 12px 0;
    box-sizing: border-box;
    line-height: 1em;
}

#page {
    background-color: #f5f4f3;
    background-image: url("../images/2girls.png");
    background-position: top center;
    position: relative;
}

#page #petal15 {
    position: absolute;
    left: 101px;
    top: 87px;
}

#page #petal16 {
    position: absolute;
    left: 2px;
    bottom: 116px;
}

#page #page-text {
    max-width: 1200px;
    margin: 0 auto;
    padding: 162px 0 210px 0;
    position: relative;
}

#page #small-circle {
    position: absolute;
    top: 0;
    left: -360px;
}
#page #big-circle {
    position: absolute;
    top: 0;
    left: -180px;
}

.middle-text {
    font-size: 18px;
    font-family: "Nunito-SemiBold", serif;
    color: rgb(44, 5, 38);
}

#page #page-paragraph {
    line-height: 1.167;
    max-width: 345px;
    padding: 20px 0 30px;
}

#page #page-btn .btn {
    padding: 13px 0;
    width: 232px;
}

#info-wrapper {
    overflow: hidden;
}

#info {
    max-width: 1200px;
    margin: 0 auto;
    padding: 140px 0 100px 0;
    position: relative;
}

#info #petal8 {
    position: absolute;
    top: 0;
    right: 282px;

}
#info #petal9 {
    position: absolute;
    top: 16px;
    right: 250px;
}
#info #petal10 {
    position: absolute;
    top: 150px;
    right: 5px;
    z-index: -1;
}
#info #petal11 {
    position: absolute;
    top: 414px;
    right: -125px;
}
#info #petal12 {
    position: absolute;
    bottom: 156px;
    right: -32px;
    z-index: 2;
}
#info #petal13 {
    position: absolute;
    bottom: 30px;
    right: -204px;
}

#info #info-text {
    max-width: 512px;
    padding: 20px 0 43px;
}

.info-person {
    width: 380px !important;
}

#info-persons {
    display: flex;
    justify-content: center;
}

#info-persons .info-person img {
    margin: 0 auto;
    width: 100%;
}

#info .info-group-persons {
    display: flex;
    justify-content: space-between;
}

/*#info .info-person {*/
/*    position: relative;*/
/*    !*background-size: cover;*!*/
/*    width: 385px;*/
/*    height: 310px;*/
/*}*/

#info .info-person-text {
    background-color: rgb(255, 255, 255);
    opacity: 0.749;
    position: absolute;
    width: 251px;
    height: 70px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 16px;
}

#info .info-person-name {
    font-size: 18px;
    font-family: "Nunito-Bold", serif;
    color: rgb(44, 5, 38);
    margin-left: 20px;
}

#info .info-person-experience {
    font-size: 14px;
    font-family: "Nunito-Regular", serif;
    color: rgb(44, 5, 38);
    margin-left: 20px;
}

#info #info-persons-nav {
    display: flex;
    max-width: 80px;
    justify-content: space-between;
    margin: 35px auto 0 auto;
    align-items: center;
}

#info img.arrow {
    height: 15px;
    cursor: pointer;
}

#info #info-persons-nav #info-person-numbers .info-person-number {
    width: 10px !important;
}

#info #info-persons-nav #info-person-numbers div {
    font-size: 18px;
    font-family: "Nunito-Regular", serif;
    color: rgba(114, 17, 99, 0.702);
    line-height: 1.2;
}

#info #info-persons-nav #info-person-numbers div.active, #info #info-persons-nav #info-person-numbers div:hover {
    font-family: "Nunito-Bold", serif;
    color: #721163;
    cursor: pointer;
}

.slick-track {
    display: flex;
    justify-content: space-between;
}

.slick-dots {
    bottom:  -50px;
}
.info-nav-item, .info-nav-item:hover{
    font-size: 18px;
    font-family: "Nunito-Regular", serif;
    color: rgba(114, 17, 99, 0.702);
    text-decoration: none;
}

.slick-active .info-nav-item{
    text-decoration: none;
    font-family: "Nunito-Bold", serif;
    color: rgb(114, 17, 99);
    font-weight: bold;
}

#info .slick-prev, #info .slick-next {
    top: auto;
    bottom: -57px;
    z-index: 2;
}

#info .slick-prev {
    left: calc(50% - 48px);
}
.slick-prev:before {
    content: url("../images/prev.png");
}
#info .slick-next {
    right: calc(50% - 48px);
}

.slick-next:before {
    content: url("../images/next.png");
}

#info .slick-slide, .slick-slide * {
    outline: none !important;
}

#gallery {
    padding-top: 68px;
    padding-bottom: 140px;
    position: relative;
    overflow: hidden;
}

#gallery #petal14 {
    position: absolute;
    top: 68px;
    right: -94px;
}
#gallery #petal17 {
    position: absolute;
    bottom: 120px;
    left: 198px;
}

#gallery-text {
    max-width: 1200px;
    margin: 0 auto;
}

#gallery #gallery-paragraph {
    max-width: 670px;
    padding: 20px 0 23px;
}


#gallery .gallery-photo {
    transition: transform 0.8s;
    display: block;
    width: 385px;
    height: 295px;
    background-size: cover;
    border-radius: 10px;
}

#gallery .gallery-photo:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.owl-item,
.owl-item.active.center + .owl-item.active + .owl-item.active {
    opacity: 0.5;
}

.owl-item.active {
    opacity: 1;
}

.owl-theme .owl-dots .owl-dot span {
    border: 1px solid rgb(114, 17, 99);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 17px;
    height: 17px;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: rgb(114, 17, 99);
}


#gallery .owl-nav {
    display: flex;
    width: 340px;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    bottom: 33px;
}

#gallery .owl-nav div {
    position: relative;
    z-index: 2;
}

#gallery .owl-nav.disabled {
    display: none;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 50px;
    /*position: relative;*/
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: none;
}

.owl-theme .owl-dots .owl-dot span:hover {
    background: rgb(114, 17, 99);
}

.owl-theme .owl-dots .owl-dot:focus {
    outline: none !important;
}

#gallery .owl-nav img:not(img:last-child) {
    height: 17px;
    width: 8px;
}

#gallery .owl-nav div:hover {
    cursor: pointer;
}

#gallery #gallery-photos-items {
    width: 290px;
    display: flex;
    justify-content: space-between;
}

#gallery .owl-stage {
    padding: 20px 0;
}



#gallery #petal18 {
    position: absolute;
    right: -262px;
}
#questions {
    background-image: url("../images/questions-bg.png");
    background-position: center;
    height: 751px;
}

#questions #questions-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

#questions #questions-title {
    width: 100%;
    padding-top: 45px;
    margin-bottom: 50px;
    line-height: 1em;
}

#questions #questions-accordion {
    width: 715px;
    position: relative;
}

#questions #petal19 {
    position: absolute;
    top: 44px;
    left: -220px;
}

#questions #petal20 {
    position: absolute;
    bottom: 10px;
    left: -346px;
}

#questions .card {
    border: none;
    box-shadow: 0px 2px 9.2px 0.8px rgba(67, 6, 57, 0.12);
    border-radius: 8px;
    background-color: #faf7fa;
    border-color: #faf7fa;
    margin-bottom: 20px;
}

#questions .card-header {
    font-size: 18px;
    font-family: "Nunito-SemiBold", serif;
    color: rgb(44, 5, 38);
    outline: none;
    border: none;
    background-color: #faf7fa;
    position: relative;
    padding: 29px 60px 28px 30px;
    border-radius: 8px;
}

#questions .card-header:hover {
    cursor: pointer;
}

#questions .card-header svg {
    position: absolute;
    right: 30px;
}

#questions .card-header svg.up {
    display: none;
}

#questions .card-body {
    font-size: 14px;
    font-family: "Nunito-Regular", serif;
    color: rgb(44, 5, 38);
    line-height: 1.2;
    border: none;
    padding: 27px 0 0 0;
    margin: 0 30px 29px 30px;
    display: none;
    border-top: 1px solid #721163;
}


#questions .card-body p {
    max-width: 560px;
    margin-bottom: 0;
}

#questions .card.first .card-body {
    display: block;
}

#questions .number {
    color: #721163;
    font-family: "Nunito-Bold", serif;
}

#questions #questions-call {
    border-radius: 8px;
    background-color: rgb(250, 247, 250);
    box-shadow: 0 2px 9.2px 0.8px rgba(67, 6, 57, 0.12);
    max-width: 465px;
    padding: 0 40px;
    height: 295px;
    box-sizing: border-box;
}

#questions #questions-call-response {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: "Nunito-Regular", serif;
    color: rgb(44, 5, 38);
    line-height: 1.2;
    text-align: center;
    height: 100%;
}

#questions #questions-call-text {
    max-width: 280px;
}

#questions #questions-form {
    padding: 27px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    line-height: 1.2;
}

#questions #questions-form-text {
    color: #2c0526;
    font-size: 18px;
    font-family: "Nunito-Regular", serif;
    width: 385px;
    text-align: center;
    margin-bottom: 28px;
}

br#questions-caret {
    display: none;
}

#questions #questions-form-input .input {
    border: 1px solid rgb(114, 17, 99);
    background-color: rgb(245, 239, 243);
    width: 280px;
    outline: none;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 30px;
    line-height: 1rem;
    font-size: 14px;
    height: 44px;
    margin-bottom: 15px;
}

#questions .validation {
    font-size: 12px;
    margin-top: 1px;
    margin-bottom: 2px;
    line-height: 1em;
}

#questions ::placeholder {
    font-size: 14px;
    font-family: "Nunito-Regular", serif;
    color: rgb(114, 17, 99);
}

#questions #questions-form-btn {
    position: relative;
}

.hvr-fade:active, .hvr-fade:focus {
    background-color: #721163;
}
.hvr-fade:hover {
    background-color: #860774;
}

#questions #petal21 {
    position: absolute;
    top: 5px;
    right: -20px;
}

#questions #questions-form-btn .btn {
    width: 282px;
    height: 44px;
    line-height: 1rem;
}

#contacts-wrapper {
    overflow: hidden;
}

#contacts {
    max-width: 1200px;
    margin: 0 auto;
    padding: 108px 0 195px 0;
    position: relative;
}
#contacts-container {
    display: flex;
    justify-content: space-between;
}
#contacts #petal22 {
    position: absolute;
    top: 16px;
    right: 4px;
}

#contacts #petal23 {
    position: absolute;
    right: -135px;
    top: 250px;
}
#contacts #petal24 {
    position: absolute;
    bottom: 185px;
    right: -107px;
}

#contacts #contacts-text {
    max-width: 385px;
    position: relative;
}

#contacts #contacts-text #lavender-bottom {
    bottom: -160px;
    left: -152px;
    position: absolute;
}

#contacts-second {
    display: none;
}

#contacts .block-title {
    line-height: 1em;
    margin-bottom: 55px;
}

/*#contacts #contacts-feature*/
#contacts .contacts-title {
    font-size: 20px;
    font-family: "Nunito-SemiBold", serif;
    color: rgb(44, 5, 38);
    margin-bottom: 10px;
}

#contacts .contacts-paragraph {
    font-size: 16px;
    font-family: "Nunito-Regular", serif;
    color: rgb(44, 5, 38);
    max-width: 220px;
    margin-bottom: 14px;
    line-height: 1em;
}

#contacts-features {
    margin-left: 100px;
}

#contacts .contact-feature:first-child {
    margin-top: 60px;
    margin-bottom: 40px;
}


#contacts #contacts-map iframe {
    border-radius: 10px;
    border: 0;
    width: 790px;
    height: 420px;
    padding-top: 3px;
}

#footer {
    background-color: #faf7fa;
}

#footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
}

#footer .logo-container {
    margin-left: 205px;
}

#footer #footer-icons {
    width: 216px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer #footer-icons a svg:hover {
    fill: #721163;
    filter: drop-shadow(-13px 10px 16px #72116380);
}

#footer #footer-info {
    width: 420px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#footer #footer-time {
    font-size: 14px;
    font-family: "Nunito-Regular", serif;
    color: rgb(44, 5, 38);
}

#footer .number {
    font-size: 16px;
}

#appointment {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000080;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

#appointment #close svg {
    pointer-events: none;
}

#appointment #appointment-container {
    border-radius: 15px;
    background-color: rgb(250, 247, 250);
    position: relative;
}

#appointment #appointment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 428px;
    padding: 60px 0;
}

#appointment #appointment-container #close {
    width: 50px;
    height: 50px;
    background: #cec9cd;
    border-radius: 50%;
    position: absolute;
    right: -66px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#appointment #appointment-container #close:hover {
    cursor: pointer;
}

#appointment #appointment-container .input {
    width: 305px;
    margin-bottom: 24px;
    outline: none;
    border: 1px solid rgb(114, 17, 99);
    background-color: rgb(250, 247, 250);
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 30px;
    line-height: 1rem;
    height: 44px;
    color: rgb(44, 5, 38);
    font-size: 14px;
    /*appearance: none;*/
    font-family: "Nunito-Regular", serif;
}


#custom-select {
    width: 305px;
    margin-bottom: 24px;
    position: relative;
}

#select-header {
    border: 1px solid rgb(114, 17, 99);
    background-color: rgb(250, 247, 250);
    padding: 9px 20px 0 20px;
    box-sizing: border-box;
    border-radius: 30px;
    height: 44px;
    cursor: pointer;
    position: relative;
}
#select-body {
    margin-top: 20px;
    display: none;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
    border: 1px solid rgb(114, 17, 99);
    background-color: rgb(250, 247, 250);
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
    width: 100%;
}

.option {
    color: rgb(44, 5, 38);
    font-size: 14px;
    font-family: "Nunito-Regular", serif;
    line-height: 2em;
    cursor: pointer;
}

#select-body .option:hover {
    color: rgb(176, 66, 159);
}

#custom-select.active #select-body {
    display: flex;
}
#custom-select #select-header svg {
    position: absolute;
    right: 18px;
    top: 13px;
}

#custom-select #select-header svg.up {
    display: none;
}


#appointment  ::placeholder {
    font-size: 14px;
    font-family: "Nunito-Regular", serif;
    color: rgb(44, 5, 38);
}


#appointment #appointment-button {
    margin-top: 40px;
}

#appointment #appointment-button .btn {
    width: 196px;
    line-height: 1em;
    padding: 15px 0;
    box-sizing: border-box;
}

.validation {
    font-family: "Nunito-Bold", serif;
    display: none;
    color: red;
    font-size: 12px;
    line-height: 24px;
    padding-left: 22px;
}

#appointment #appointment-sent{
    width: 532px;
    height: 472px;
    box-sizing: border-box;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#appointment #appointment-sent-title {
    font-size: 20px;
    font-family: "Nunito-Bold", serif;
    color: rgb(114, 17, 99);
    line-height: 1em;
    margin-bottom: 27px;
}

#appointment #appointment-sent-text {
    font-size: 18px;
    font-family: "Nunito-Regular", serif;
    color: rgb(44, 5, 38);
    line-height: 1.2;
    max-width: 280px;
    text-align: center;
}
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid rgb(114, 17, 99);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background: #00000020;
}


